<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input</title>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            let socket = io.connect("http://127.0.0.1:5000");
            socket.on("connect", function () {
                console.log("Sucessfully connected");
                socket.emit("Connection successful!");
            });
            socket.on("message", (msg) => {
                console.log("___", msg);
                document.getElementById("temp").innerHTML += `<li>${msg}</li>`;
            });
        });
    </script>
    <form method="POST" enctype=multipart/form-data action="/">
        <input type=file name="content" id="content">
        <br>
        <input type=file name="style" id="style">
        <br>
        <input type=submit value=Upload>
        <ul id="temp"></ul>
    </form>
</body>

</html>